<h1>Bien Reviews</h1>

<h2>The best resturuant reviews in the world!</h2>

<p>The random number is <%= @number %> </p>

<div class="review">The Smile</div>
<div class="review">Baby Bo's</div>
<div class="review">Chiptole</div>